
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,300&family=Montserrat:wght@500&display=swap');

body {
    background-color: -webkit-linear-gradient(59deg, #3A6073, #123146);
    background: linear-gradient(59deg, #3A6073, #123146);;
    font-family: 'Montserrat', sans-serif;
    color: lightcyan;
}

header {
  background-color: #123146;
}

p {
  text-align: justify;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 50px;
    line-height: 60px;
}

.navbar-brand {
  font-size: 200%;
  margin: 0.5rem;
}

.h2-orange {
  text-transform: capitalize;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  color: rgb(206, 134, 0);
  padding-bottom: 2rem;
}

/* section 1 home */

.carousel-item {
  height: 400px;
  width: 100%;
  overflow: hidden;
}


/* section 2 our path */
.featurette-image {
  width: 240px;
  height: auto;
}

.featurette-image.float-left {
  padding-left: 0;
  padding-right: .5rem;
  padding-bottom: .5rem;
}

.featurette-image.float-right {
  padding-right: 0;
  padding-left: .5rem;
  padding-bottom: .5rem;
}

.featurette-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  } 

.featurette {
  margin: auto;
  width: 100%;
  padding-top: 1rem;
}

.featurette-divider {
    margin: 2rem;
    background-color: #6eb2d1;
  }
  
.featurette-heading {
    font-weight: 200;
    font-size: 300%;
    line-height: 1;
    letter-spacing: -.05rem;
    color: rgb(206, 134, 0);
    font-family: 'Merriweather Sans', sans-serif;
    font-display: swap;
    padding: 1rem;
  }


.card {
  background-color: lightgrey;
  color: #123146;
}

/* footer */
footer a {
  color: #fff;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #6eb2d1;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 1rem;
  border-top: 1px solid #FFFFFF;
}

.social-media {
  padding: 1rem;
}


/* RESPONSIVE CSS */

@media (max-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }

    .featurette-image {
      width: 100%;
      float: none !important;
    }

    .carousel-item {
      height: 200px;
    }
  }
  
  @media (max-width: 62em) {
    .featurette-heading {
      margin-top: 2rem;
    }
    
    .featurette-image {
      width: 100%;
      float: none !important;
    }
  }