
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,300&family=Montserrat:wght@500&display=swap');


body {
    background-color: #062950;
    font-family: 'Montserrat', sans-serif;
    color: rgba(247, 238, 238, 0.781);
}

h2 {
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(243, 168, 7);
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 50px;
    line-height: 60px;
}

.navbar-brand
{
  font-size: 200%;
  margin: 0.5rem;
}


/* insights */
img {
    width: 150px;
    height: 200px;
    object-fit: cover;
  }

p {
    text-align: justify;
}

.large {
    size: large;
}

.submit {
    margin: 1rem;
}


.socialmedia {
    text-align: center;
}

/* footer */
footer {
    background-color: rgb(109, 108, 108);
    height: 30px;
    width: 100%;
}
