
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,300&family=Montserrat:wght@500&display=swap');


body {
    background-color: #062950;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke
}

h2 {
    font-family: 'Merriweather Sans', sans-serif;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 50px;
    line-height: 60px;
}

.navbar-brand
{
  font-size: 300%;
  margin: 0.5rem;
}

.hero-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}


/* insights */
img {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }

#large-heading {
    size: 200%;
    opacity: 0.2;
}
