
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,300&family=Montserrat:wght@500&display=swap');


body {
    background-color: -webkit-linear-gradient(59deg, #3A6073, #123146);
    background: linear-gradient(59deg, #3A6073, #123146);;
    font-family: 'Montserrat', sans-serif;
    color: lightcyan;
}
header {
  background-color: #123146;
}

h2, legend {
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(206, 134, 0);
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 50px;
    line-height: 60px;
}

.navbar-brand {
  font-size: 200%;
  margin: 0.5rem;
}


/* our path */
img {
    width: 150px;
    height: 200px;
    object-fit: cover;
  }

p {
    text-align: justify;
}

#ourpath {
  margin: auto;
  width: 70%;
}

.featurette-divider {
    margin: 2rem;
    background-color: #6eb2d1;
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 200;
    line-height: 1;
    letter-spacing: -.05rem;
  }

/* section join us */

#joinus {
  margin: 5rem;
}

/* footer */
footer {
  background-color: grey;
}

footer a {
  color: #fff;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #6eb2d1;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}



.float-right {
    float: right;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 5rem;
    }
  }