
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,300&family=Montserrat:wght@500&display=swap');

* {
    border: none;
}

body {
    background-color: #062950;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke
}

h2 {
    font-family: 'Merriweather Sans', sans-serif;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 50px;
}

#menu {
    font-size: 105%;
}

#menu, #logo {
    line-height: 60px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu li:hover {
    font-size: 130%;
}

#menu a {
    text-decoration: none;
    color: whitesmoke;
}

#hero-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}